{% extends "base_menu.html" %}
{% load i18n %}
{% block titulo %}{% trans "Dashboard" %}{% endblock %}

{% block encabezadomenu %}
    <!-- HighCharts -->
    <script src="/static/cleanui/vendors/highcharts/highcharts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/stats/css/dashboard.css" />
	<script type="text/javascript" src="/static/stats/js/dashboard.js"></script>
    <script>
        var rgrafs = new Array();
        rgrafs.push('graf-total-all');
        rgrafs.push('piza-status-all');
        rgrafs.push('piza-rejects-all');
        rgrafs.push('piza-blocks-all');
    </script>
{% endblock %}

{% block contenidomenu %}
    <div class="row row-top-15">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-with-borders panel-compact">
                        <div class="panel-heading">
                            <button type="button" id="reload" onclick="jsobj.reloadT(); $('#reload').blur();"  class="btn btn-rounded btn-sm pull-right panel-buttons-sm"><i class="icmn-spinner11"></i></button>
                            <h5><small><i class="icmn-chart"></i></small> {% trans "Global mail traffic" %}</h5>
                        </div>
                        <div class="panel-body">
                            <div id="graf-total-all"  style="height: 240px;"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <section class="panel">
                        <div class="margin-bottom-10 margin-top-5">
                            <div id="piza-status-all" style="height: 160px;"></div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <div class="margin-bottom-10 margin-top-5">
                            <div id="piza-rejects-all" style="height: 160px;"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <div class="margin-bottom-10 margin-top-5">
                            <div id="piza-blocks-all" style="height: 160px;"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <section class="panel panel-with-borders panel-compact">
                <div class="panel-heading">
                    <h5><small><i class="icmn-list"></i></small> {% trans "Top senders" %}</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-hover nowrap table-compact" style="table-layout: fixed;" id="topsender-table" width="100%">
                        <thead>
                        <tr>
                            <th>{% trans "Sender" %}</th>
                            <th>{% trans "Total" %}</th>
                            <th>{% trans "Delivered" %}</th>
                            <th>{% trans "Rejected" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel panel-with-borders panel-compact">
                <div class="panel-heading">
                    <h5><small><i class="icmn-list"></i></small> {% trans "Top recipients" %}</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-hover nowrap table-compact" style="table-layout: fixed;" id="toprecipient-table" width="100%">
                        <thead>
                        <tr>
                            <th>{% trans "Recipient" %}</th>
                            <th>{% trans "Total" %}</th>
                            <th>{% trans "Delivered" %}</th>
                            <th>{% trans "Rejected" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
