#python byte-compiled files
*.pyc
#vim swap files
*.swl
*.swm
*.swn
*.swp
*.swo
# Repositorios bazaar
.bzr
# Proyectos pycharm
.idea
# Varios que no deben guardarse
varios
# Configuracion de entorno
*.ini
# Migraciones
dogoweb/*/migrations/0*.py
