{% extends "base_menu.html" %}
{% load i18n %}
{% block titulo %}{% trans "Domain Admin" %}{% endblock %}

{% block encabezadomenu %}
    <script src="/static/mail/js/domadm.js"></script>
{% endblock %}

{% block contenidomenu %}
<div class="row row-top-15">
    <div class="col-lg-6">
        <section class="panel panel-with-borders">
            <div class="panel-heading">
                <button type="button" id="add" onclick="" class="btn btn-primary pull-right panel-buttons width-100">{% trans "Add" %}</button>
                <h4>{% trans "Domain Admin" %}</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover nowrap" id="domains-table" width="100%">
                    <thead>
                    <tr>
                        <th class="never">ID</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Server" %}</th>
                        <th>{% trans "Client" %}</th>
                        <th>{% trans "Active" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock %}
