{% load seg_tags %}
{% load i18n %}

<div class="row">
    <div class="col-lg-6">
        {% render_field_full form.nombre %}
        {{ form.nombre|set_focus }}
    </div>
    <div class="col-lg-6">
        {% render_field_full_checkbox form.activo %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% render_field_full form.dirdns %}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {% render_field_full form.dirip4 %}
    </div>
    <div class="col-lg-6">
        {% render_field_full form.dirip6 %}
    </div>
</div>