{% extends "base.html" %}
{% load i18n %}
{% block titulo %}{{ title }}{% endblock %}

{% block encabezado %}
{% block encabezadomenu %}{% endblock %}
{% endblock %}

{% block menu %}
<nav class="top-menu">
    <div class="menu-icon-container hidden-xs-down">
        <a href="{% url 'index' %}" class="logo">
            <img src="/static/dogoweb/img/dogomail-chico.png" alt="DogoMail" />
        </a>
        <br/>
        DogoMail <small>v{{ user.profile.version }}</small>
    </div>
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar">
                        <img src="{{ user.profile.mi_avatar }}" alt="User">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="{% url 'segprofile' %}"><i class="dropdown-icon icmn-user"></i> {% trans 'Profile' %}</a>
                    {% if user.is_superuser %}
                    <a class="dropdown-item" href="/admin/"><i class="dropdown-icon icmn-cogs"></i> {% trans 'Admin' %}</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-icon icmn-exit"></i> {% trans 'Logout' %}</a>
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="left">
                <div class="header-buttons">
                    <div class="dropdown hidden-sm-up">
                        <a href="{% url 'index' %}" class="dropdown-inline-button">
                            <i class="dropdown-icon icmn-image4"></i>
                        </a>
                    </div>
                    {% for menu in user.profile.mis_menus %}
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                            <i class="dropdown-inline-button-icon {{ menu.icono }}"></i>
                            <span class="hidden-md-down">{{ menu.nombre }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
                            {% for pantalla in menu.pantallas %}
                            <a class="dropdown-item" href="{{ pantalla.url }}"><i class="dropdown-icon {{ pantalla.icono }}"></i> {{ pantalla.nombre }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block contenido %}
{% block submenu %}{% endblock %}
<div class="my-page-content-inner">
{% block contenidomenu %}{% endblock %}
</div>
{% endblock %}

{% block piepagina %}
<footer class="cwt__footer visible-footer">
    <div class="cwt__footer__top">
        <div class="row">
            <div class="col-md-4">
                <span>
                    <a href="http://www.itecnis.com" class="cwt__footer__link" target="_blank">Itecnis SRL</a> © 2017
                </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}