@import url(/static/admin/css/fonts.css);

html {
    color: #444444;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #eceff4;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

/* Icono que cambia cuando se achica el ancho */
nav.top-menu .menu-icon-container {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 8pt;
}
@media (max-width: 540px) {
    nav.top-menu .menu-icon-container + .menu {
        margin-left: 0px;
    }
}

/* MÉTODO PARA TENER FOOTER */
main {
    flex-grow: 1;
    flex-shrink: 0;
}

footer.cwt__footer {
    padding: 10px 20px 0px;
    flex-shrink: 0;
}

body.single-page .page-content {
    height: auto;
}
/* FOOTER */

/* Imágenes sin borde */
img {
    border: 0;
    margin: 0;
    padding: 0;
}

pre {
    font-family: monospace;
    font-size: x-small;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Formato interno */
.my-page-content-inner {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.row-top-15 {
    padding-top: 15px;
}
/* Fin formato */

/* PERFIL DE USUARIO */

.profile-header {
    height: 115px;
}

.profile-header .profile-header-info {
    top: 0px;
}

.spam-rejected {
    color: red;
}

.good-received {
    color: green;
}

@media (max-width: 1200px) {
    .profile-header-title {
        padding-left: 0px !important;
    }
    .profile-user {
        margin-top: -115px;
    }
}

@media (max-width: 1600px) {
    .profile-header-title {
        padding-left: 0px !important;
    }
    .profile-user {
        margin-top: -115px;
    }
}

@media (max-width: 992px) {
    .profile-header-title {
        padding-left: 0px !important;
    }
    .profile-user {
        margin-top: 0px;
    }
}

/* Panel con encabezado y boton */
.panel.panel-with-borders > .panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel .panel-heading {
    padding-top: 15px;
    padding-bottom: 16px;
}
.panel .panel-heading .panel-buttons{
    margin-top: -8px;
    margin-left: 5px;
}
.panel .panel-heading .panel-buttons-sm{
    margin-top: -5px;
    margin-left: 5px;
}


.panel.panel-compact .panel-body {
    padding: 10px;
    padding-top: 5px;
}

.panel.panel-compact .panel-heading {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.panel.panel-compact .panel-footer {
    padding: 5px;
}

.panel.panel-compact .form-group {
    margin-bottom: 1px;
    padding-top: 8px;
}

.panel.panel-compact .form-control {
    padding: 4px 8px;
}

.panel.panel-compact .form-control-label {
    padding-bottom: 0px;
    padding-top: 0.3rem;
}
.panel.panel-compact .col-compact {
    padding-left: 4px;
    padding-right: 4px;
}
.panel.panel-compact .col-compact-right {
    padding-left: 4px;
}
.panel.panel-compact .col-compact-left {
    padding-right: 4px;
}


/* Tablas mas chicas */
table.dataTable thead tr {
    font-size: 0.95rem;
}
table.dataTable tbody tr {
    font-size: 0.95rem;
}
table.dataTable thead th {
    padding: 0.65rem;
}
table.dataTable tbody td {
    padding: 0.55rem;
}

/* Tablas super compacta */
/*table.table-compact {
    table-layout: fixed;
}*/
table.table-compact {
    margin-top: 0px !important;
}
table.table-compact thead tr {
    font-size: 0.90rem;
}
table.table-compact tbody tr {
    font-size: 0.90rem;
}
table.table-compact thead th {
    padding-top: 4px;
    padding-bottom: 5px;
}
table.table-compact tbody td {
    padding-top: 4px;
    padding-bottom: 5px;
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}
table.table-compact.dtr-inline.collapsed > tbody > tr > td:first-child::before {
    top: 5px;
}

/* Tablas con cursor hover */
.table.table-hover tbody tr:hover {
    cursor: pointer;
    color: black !important;
}
table.dataTable tbody tr:hover {
    cursor: pointer;
    color: black !important;
}
table.dataTable tbody tr.selected:hover {
    cursor: pointer;
    color: black !important;
    background: #ccdaf7;
}

/* Modal body */
.modal-body-bottom-5 {
    padding-bottom: 5px;
}
.modal-header {
    background-color: #F6F6F6;
    border-top-left-radius: 3.9px;
    border-top-right-radius: 3.9px;
}

/* Forms */
/* Required field */
input[type=text].form-control-required, input[type=password].form-control-required,
input[type=email].form-control-required, input[type=number].form-control-required,
textarea.form-control-required, select.form-control-required,
.select2 .form-control-required {
    background-color: #fff8f8;
}

/* checkboxes lindos */
label.btn-checkbox-outline-yes {
    border-color: #3caa7a;
    color: #3caa7a;
}
label.btn-checkbox-outline-yes:focus {
    border-color: #01a8fe;
}
label.btn-checkbox-outline-yes:hover {
    border-color: #3caa7a;
}
label.btn-checkbox-outline-yes.active {
    background: #3caa7a;
    border-color: #3caa7a;
    color: #ffffff;
}
label.btn-checkbox-outline-yes.active:focus {
    border-color: #01a8fe;
}

/* Readonly select2 */
.disabled-select {
  background-color: #d5d5d5;
  opacity: 0.5;
  border-radius: 3px;
  cursor: not-allowed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
  background: #eee;
  box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
  display: none;
}
