{% load widget_tweaks %}
{% load i18n %}

<form method="post" id="menu-form" action="{% url 'seg_menu_create' %}">
    {% csrf_token %}
    <input type="hidden" id="snext" name="snext" value=""/>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><small><i class="icmn-plus-circle"></i></small> {% trans "Add menu" %}</h4>
    </div>
    {% with WIDGET_REQUIRED_CLASS='form-control' %}
    <div class="modal-body modal-body-bottom-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group {% if form.idm.errors %} has-danger{% endif %}">
                    <label class="form-control-label {% if form.idm.errors %} has-danger{% endif %}" for="{{ form.idm.id_for_label }}">{% trans "ID" %}</label>
                    {% render_field form.idm %}
                    {% if form.idm.errors %}
                    <div class="form-control-error" data-error-list>
                        <ul>
                            {% for error in form.idm.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group {% if form.icono.errors %} has-danger{% endif %}">
                    <label class="form-control-label {% if form.icono.errors %} has-danger{% endif %}" for="{{ form.icono.id_for_label }}">{% trans "Icon" %}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i id="id_icono_edit" class="icmn-icon"></i>
                        </span>
                        {% render_field form.icono %}
                    </div>
                    {% if form.icono.errors %}
                    <div class="form-control-error" data-error-list>
                        <ul>
                            {% for error in form.icono.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group {% if form.nombre.errors %} has-danger{% endif %}">
                    <label class="form-control-label {% if form.nombre.errors %} has-danger{% endif %}" for="{{ form.nombre.id_for_label }}">{% trans "Name" %}</label>
                    {% render_field form.nombre %}
                    {% if form.nombre.errors %}
                    <div class="form-control-error" data-error-list>
                        <ul>
                            {% for error in form.nombre.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group {% if form.orden.errors %} has-danger{% endif %}">
                    <label class="form-control-label {% if form.orden.errors %} has-danger{% endif %}" for="{{ form.orden.id_for_label }}">{% trans "Order" %}</label>
                    {% render_field form.orden %}
                    {% if form.orden.errors %}
                    <div class="form-control-error" data-error-list>
                        <ul>
                            {% for error in form.orden.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group {% if form.activo.errors %} has-danger{% endif %}">
                    <label class="form-control-label {% if form.activo.errors %} has-danger{% endif %}" for="{{ form.activo.id_for_label }}">{% trans "Active" %}</label><br/>
                    {% render_field form.activo %}
                    {% if form.activo.errors %}
                    <div class="form-control-error" data-error-list>
                        <ul>
                            {% for error in form.activo.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    <div class="modal-footer">
        <button type="submit" name="save" class="btn width-150 btn-primary">{% trans "Save" %}</button>
        <button type="button" name="savenew" class="btn btn-secondary" onclick="jseg.salvaNext('new');">{% trans "Save and Add" %}</button>
        <button type="button" class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
    </div>
</form>