{% load seg_tags %}
{% load i18n %}

<form method="post" id="menu-form" action="{% url 'seg_pant_update' %}">
    {% csrf_token %}
    <input type="hidden" name="pks" value="{{ idpks }}"/>
    <input type="hidden" name="idx" value="{{ idx }}"/>
    <input type="hidden" id="snext" name="snext" value=""/>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><small><i class="icmn-pencil7"></i></small> {% trans "Change screen" %}</h4>
    </div>
    {% with WIDGET_BASE_CLASS='form-control' WIDGET_GROUP_CLASS='form-group' WIDGET_REQUIRED_CLASS='form-control-required' WIDGET_ERROR_LIST_CLASS='form-control-error' WIDGET_ERROR_CLASS='has-danger' %}
    <div class="modal-body modal-body-bottom-5">
        <div class="row">
            <div class="col-lg-6">
                {% render_field_full form.idm %}
                {{ form.idm|set_focus }}
            </div>
            <div class="col-lg-6">
                {% render_field_full_icon form.icono %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% render_field_full form.nombre %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% render_field_full form.url %}
            </div>
            <div class="col-lg-6">
                {% render_field_full form.menu %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% render_field_full form.orden %}
            </div>
            <div class="col-lg-6">
                {% render_field_full form.activo %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% render_field_full form.permiso %}
            </div>
        </div>
        {% if sobjs %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="btn-group btn-group-justified margin-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-rounded btn-success" onclick="jseg.saltaEdit('{{ iprev }}');">{% trans "Previous" %}</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans "Choose" %}</button>
                        <ul class="dropdown-menu">
                            {% for o in sobjs %}
                            <a class="dropdown-item" href="javascript: jseg.saltaEdit('{{ o.ids }}');">{{ o.obj }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-rounded btn-success" onclick="jseg.saltaEdit('{{ inext }}');">{% trans "Next" %}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}
    </div>
    {% endwith %}
    <div class="modal-footer">
        <button type="submit" class="btn width-150 btn-primary">{% trans "Save" %}</button>
        {% if sobjs %}
        <button type="button" class="btn btn-secondary" onclick="jseg.salvaNext('{{ inext }}');">{% trans "Save and Next" %}</button>
        {% endif %}
        <button type="button" class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
    </div>
</form>
