{% load seg_tags %}
{% load i18n %}

<form method="post" id="modal-form" action="{% url form_header.url %}">
    {% csrf_token %}
    <input type="hidden" id="step" name="step" value="{{ cur_step }}"/>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><small><i class="{{ form_steps.icon }}"></i></small> {{ form_steps.title }}</h4>
    </div>
    {% with WIDGET_BASE_CLASS='form-control' WIDGET_GROUP_CLASS='form-group' WIDGET_REQUIRED_CLASS='form-control-required' WIDGET_ERROR_LIST_CLASS='form-control-error' WIDGET_ERROR_CLASS='has-danger' %}
    <div class="modal-body modal-body-bottom-5">
        <h5><small><i class="{{ cur_step_icon }}"></i></small> {{ cur_step_title }}</h5>
        {% include form_header.templt %}
    </div>
    {% endwith %}
    <div class="modal-footer">
        {% if cur_step > 0 %}
        <button type="submit" class="btn btn-secondary">{% trans "Previous" %}</button>
        {% endif %}
        <button type="submit" class="btn width-150 btn-primary">{% trans "Next" %}</button>
        <button type="button" class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
    </div>
</form>