{% extends "base_menu.html" %}
{% load i18n %}
{% block titulo %}{% trans "Profile" %}{% endblock %}

{% block encabezadomenu %}
        <script src="/static/seg/js/profile.js"></script>
{% endblock %}

{% block submenu %}
    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <div class="width-100 text-center pull-right hidden-sm-down spam-rejected">
                            <h2>{{ user.profile.spam_rejected }}</h2>
                            <p>{% trans "Spam emails" %}<br/>{% trans "Rejected" %}</p>
                        </div>
                        <div class="width-100 text-center pull-right hidden-sm-down good-received">
                            <h2>{{ user.profile.good_received }}</h2>
                            <p>{% trans "Good emails" %}<br/>{% trans "Received" %}</p>
                        </div>
                        <div class="profile-header-title">
                            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                            <p>{{ user.username }}</p>
                            <p class="hidden-md-down"><small>TZ: {{ TIME_ZONE }}</small> | <small>LN: {{ LANGUAGE_CODE }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->
{% endblock %}

{% block contenidomenu %}
    <!-- Profile -->
    <div class="row">
        <div class="col-lg-4">
            <section class="panel profile-user" style="background-image: url({{ user.profile.mi_fondo }}); background-color: {{ user.profile.mi_color }};">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img src="{{ user.profile.mi_avatar }}" alt="{{ user.username }}">
                        </a>
                        <br />
                        <p>{% trans "Last login" %}: {{ user.last_login }}</p>
                        <p>
                            {% if user.profile.esta_online %}
                            <span class="donut donut-success"></span>
                            {% trans "Online" %}
                            {% else %}
                            <span class="donut donut-secondary"></span>
                            {% trans "Offline" %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <h6>{% trans "Actions" %}</h6>
                    <div class="btn-group-vertical btn-group-justified">
                        <button type="button" class="btn">{% trans "Change password" %}</button>
                        {% if user.is_staff or user.is_superuser %}
                        <button type="button" class="btn">{% trans "Disable" %}</button>
                        {% endif %}
                        {% if user.is_superuser %}
                        <button type="button" class="btn">{% trans "Grant Superuser" %}</button>
                        {% endif %}
                        {% if user.is_staff or user.is_superuser %}
                        <button type="button" class="btn">{% trans "Grant Staff" %}</button>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-8">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#info" role="tab">
                                    <i class="icmn-info"></i>
                                    {% trans "Information" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#access" role="tab">
                                    <i class="icmn-enter"></i>
                                    {% trans "Access" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#audit" role="tab">
                                    <i class="icmn-search4"></i>
                                    {% trans "Audit" %}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane active" id="info" role="tabpanel">
                                <h5>{% trans "Personal Information" %}</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l0">{% trans "First name" %}</label>
                                            <input type="text" class="form-control" id="l0" value="{{ user.first_name }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l2">{% trans "Last name" %}</label>
                                            <input type="text" class="form-control" id="l2" value="{{ user.last_name }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l1">{% trans "Email" %}</label>
                                            <input disabled="1" type="email" class="form-control" id="l1" value="{{ user.email }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l3">{% trans "Date joined" %}</label>
                                            <input disabled="1" type="datetime-local" class="form-control" id="l3" value="{{ user.date_joined }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="form-group">
                                        <button type="button" class="btn width-150 btn-primary">{% trans "Save" %}</button>
                                        <button type="button" class="btn btn-default">{% trans "Cancel" %}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="access" role="tabpanel">
                                <h5>{% trans "Access history" %}</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table nowrap" id="accesstable" width="100%">
                                            <thead>
                                            <tr>
                                                <th>{% trans "Login date" %}</th>
                                                <th>{% trans "Logout date" %}</th>
                                                <th class="hidden-xs-down">{% trans "IP host" %}</th>
                                                <th class="hidden-lg-down">{% trans "Provider" %}</th>
                                                <th class="hidden-md-down">{% trans "Country" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="audit" role="tabpanel">
                                <h5>{% trans "Audit history" %}</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table nowrap" id="audittable" width="100%">
                                            <thead>
                                            <tr>
                                                <th>{% trans "Date" %}</th>
                                                <th>{% trans "Action" %}</th>
                                                <th>{% trans "Description" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->
{% endblock %}
