{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
    <title>DogoMail: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'dogoweb/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dogoweb/css/style.css' %}"/>
    {% block encabezado %}{% endblock %}
</head>
<body>
 <div id="main_header">
  <div id="main_logo">&nbsp;</div>
  <div id="main_info">
   <table id="main_info_table">
    <tr>
     <td id="main_info_table_titulo">
      <h1>DogoMail</h1>
      <h2>{% trans "Version" %} {{vernu}}</h2>
     </td>
     <td id="main_info_table_stat">
      <table>
       <tr>
        <th>Last</th>
        <th>hour</th>
        <th>day</th>
        <th>week</th>
        <th>month</th>
       </tr>
       <tr>
        <td>sent</td>
        <td>${mstat['sent'][0]}</td>
        <td>${mstat['sent'][1]}</td>
        <td>${mstat['sent'][2]}</td>
        <td>${mstat['sent'][3]}</td>
       </tr>
       <tr>
        <td>spam</td>
        <td>${mstat['spam'][0]}</td>
        <td>${mstat['spam'][1]}</td>
        <td>${mstat['spam'][2]}</td>
        <td>${mstat['spam'][3]}</td>
       </tr>
       <tr>
        <td>total</td>
        <td>${mstat['sent'][0]+mstat['spam'][0]}</td>
        <td>${mstat['sent'][1]+mstat['spam'][1]}</td>
        <td>${mstat['sent'][2]+mstat['spam'][2]}</td>
        <td>${mstat['sent'][3]+mstat['spam'][3]}</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </div>
  <div id="main_msgs">
   <div class="" ></div>
  </div>
 </div>
 <div id="main_content">
  <table id="main_content_table">
   <tr>
    <td id="main_content_table_menu">
     <div id="main_menu">
      <div id="usuario">${tg.identity.user.display_name}</div>
      <ul>
       <li py:for="menu in menus">
        <a href="${tg.url(menu.link)}">
         <img src="/static/images/menu_${menu.icon}.png" alt=""/> ${menu.name}
        </a>
       </li>
      </ul>
     </div>
     <div id="main_commit" py:if="apply_conf">
      <div id="main_commit_title">Configuration</div>
      <ul>
       <li>
        <a href="/commit">
         <img src="/static/images/do_apply.png" alt=""/> <span>Apply configuration</span>
        </a>
       </li>
       <li>
        <a href="/undo">
         <img src="/static/images/do_undo.png" alt="" title="${_('Undo')}"/>&nbsp;&nbsp;
        </a>
        <a href="/export">
         <img src="/static/images/do_export.png" alt="" title="${_('Export')}"/>&nbsp;&nbsp;
        </a>
        <a href="/restore">
         <img src="/static/images/do_restore.png" alt="" title="${_('Restore')}"/>&nbsp;&nbsp;
        </a>
        <a href="/report">
         <img src="/static/images/do_report.png" alt="" title="${_('PDF Report')}"/>&nbsp;&nbsp;
        </a>
       </li>
      </ul>
     </div>
     <div id="main_search">
      <div id="main_search_title">Search</div>
      <form action="/search" method="post" name="mainsearchform" id="mainsearchform">
      <ul>
       <li><input type="text" id="search" name="search" size="19" class="xsmall"/></li>
       <li>
        <select name="search_type" class="xsmall">
         <option value="destino">In Recipients</option>
         <option value="remite">In Sender</option>
         <option value="asunto">In Subject</option>
         <option value="msgid">In MsgID</option>
        </select>
        ${miboton[0].display(accion="document.mainsearchform.submite.click();", texto='', imagen='/static/images/do_search.png', titulo=_('Search'))}
        <input style="display: none;" type="submit" name="submite" value="Search"/>
       </li>
      </ul>
      </form>
     </div>
     <div id="made_by"><span>made by </span><a href="http://www.itecnis.com/">itecnis</a></div>
    </td>
    <td>

     {% block content %}{% endblock %}

    </td>
   </tr>
  </table>
 </div>

</body>
</html>